*::-webkit-input-placeholder {
	color: #666;
	opacity: 1;
}
*:-moz-placeholder {
	color: #666;
	opacity: 1;
}
*::-moz-placeholder {
	color: #666;
	opacity: 1;
}
*:-ms-input-placeholder {
	color: #666;
	opacity: 1;
}
html {
  width: 100%;
  margin: 0;
  padding: 0;
  -webkit-backface-visibility: hidden;
}

body input:focus:required:invalid,
body textarea:focus:required:invalid {
	
}
body input:required:valid,
body textarea:required:valid {
	
}
.hidden {
	display: none;
}

@import 'fonts.scss';
@import 'var.scss';
@import 'header.scss';
@import 'allstyle.scss';
@import 'madia.scss';