@import "_var.scss";

/* оформление содержимого шаблона, которое находится под
header */
.block {
  position: relative;
  padding: 40px 0;
}

.block_mini {
  position: relative;
  padding: 40px 0;
}

.block_map {
  position: relative;
  padding: 40px 0 0;
}

.block_map .container-fluid {
  padding-right: 0;
  padding-left: 0;
  background-color: #f2f2f2;
}

.block_top {
  position: relative;
  padding-top: 40px;
}

.block_grey {
  background-color: #f2f2f2;
}

h2.block_title {
  @include font-size(25px);

  position: relative;
  margin: 0 auto 20px;
  font-family: "RobotoSlabBold", sans-serif;
  letter-spacing: 2px;
  text-align: center;
  text-transform: uppercase;
}

h2.block_title::before {
  content: "";
  position: absolute;
  left: 50%;
  top: 110%;
  margin-left: -50px;
  width: 100px;
  height: 6px;
  background-color: #f1c40f;
}

h2.block_title::after {
  content: "";
  position: absolute;
  left: 50%;
  top: 115%;
  margin-left: -100px;
  width: 200px;
  height: 2px;
  background-color: #f1c40f;
}

.block_descrip {
  @include font-size(16px);

  margin: 0 10% 3.3%;
  text-align: center;
}

.creat_block {
  margin: 0;
  padding: 0;
}

.creat_block_items {
  float: left;
  margin-right: 2%;
  width: 49%;
}

.creat_block_items:last-child {
  margin-right: 0;
}

.creat-block-img {
  margin: 0;
  padding: 0;
}

.creat-block-img img {
  width: 100%;
  height: auto;
}

.creat-block-title {
  margin-bottom: 35px;
  font-weight: 400;
  font-size: 1.2em;
  text-transform: uppercase;
}

.creat-block-title span {
  color: #f1c40f;
}

.creat-block-text {
  font-size: 0.9em;
}

.creat-block-text p {
  margin-bottom: 10px;
}

/* оформление блока наши предложения  */

.our_pred_block {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin: 0;
  padding: 0;
}

.our_pred_block_items {
  margin-right: 3.3%;
  margin-bottom: 3.3%;
  width: 30%;
}

.our_pred_block_items:nth-child(3n+3) {
  margin-right: 0;
}

.our_pred_icon {
  float: left;
  width: 15%;
  font-size: 2rem;
  color: #f1c40f;
}

.our_pred_text {
  float: left;
  width: 85%;
}

.our_pred_text_title {
  position: relative;
  margin-bottom: 20px;
  padding-top: 4px;
  font-family: "RobotoSlabBold", sans-serif;
  font-size: 1.125em;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.our_pred_text_title::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -10px;
  border: 1px solid #f1c40f;
  width: 100px;
}

.our_pred_text_desc {
  margin-bottom: 10px;
  font-size: 0.9rem;
}

.block_mini_box {
  position: relative;
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
}

.block_mini_box_left {
  width: 60%;
}

.block_mini_box_right {
  width: 40%;
  text-align: center;
}

.block_mini_link {
  @include trans;

  display: inline-block;
  padding: 15px 25px;
  font-weight: 300;
  font-size: 0.875em;
  text-decoration: none;
  text-transform: uppercase;
  color: #000000;
  background-color: #f1c40f;
}

.block_mini_link:hover {
  background-color: #ffffff;
}

.block_mini_text {
  font-weight: 400;
  font-size: 2.18rem;
  letter-spacing: 2px;
  color: #ffffff;
}

/*
формление слайдера команды */
#comand_carousel .item {
  display: flex;
  flex-direction: column;
  border-right: 1px solid #f5f5f7;
  border-bottom: 2px solid #f1c40f;
  border-left: 1px solid #f5f5f7;
  padding-bottom: 10px;
  cursor: pointer;
}

#comand_carousel .item .commands {
  display: flex;
  flex-wrap: wrap;
  margin-top: auto;
}

.box-img-kommand-wrap {
  border-right: 1px solid #f5f5f7;
  border-bottom: 2px solid #f1c40f;
  border-left: 1px solid #f5f5f7;
  padding-bottom: 10px;
  cursor: pointer;
}

.box-img-kommand {
  overflow: hidden;
  margin: 0;
  padding: 0;
}

.box-img-kommand img {
  border-radius: 0;
  width: 100%;
  height: auto;

  // overflow: hidden;
}

.box-img-kommand-wrap,
.box-img-kommand-wrap .box-img-kommand img {
  transition: all 0.5s ease;
}

.box-img-kommand-wrap:hover .box-img-kommand img {
  transform: scale(1.35, 1.35) translateY(16%);

  // transition: all 0.5s ease 0.1s;
  // transform-origin: 30% 0;
}

h3.command_name {
  padding-top: 5px;
  min-height: 60px;
  font-weight: 900;
  font-size: 1.2rem;
}

h4.command_prof {
  margin: auto 0 0;
  padding: 0;
  font-weight: 400;
  font-size: 1rem;
}

.owl-theme .owl-nav {
  margin-top: 0;
}

/* Изменяем внешний вид элементов управления (точки) */
.owl-theme .owl-dots .owl-dot span {
  border: 1px solid #f1c40f;
  border-radius: 0;
  width: 26px;
  height: 5px;
  background-color: transparent;
}

.owl-theme .owl-dots .owl-dot.active span,
.owl-theme .owl-dots .owl-dot:hover span {
  background-color: #f1c40f;
}

/*  блок почему выбирают нас */
.why_choice_items {
  width: 50%;
}

.why_choice_items img {
  display: inline-block;
  width: 100%;
  height: auto;
}

/*   оформить блока ничего лучше чем видео презентация */

.block-video_fon {
  position: relative;
  min-height: 350px;
  background: #000000 url("../img/video-bg.jpg") top center no-repeat fixed;
  background-size: cover;
}

.block-video_fon::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
}

.block-video_fon .block_title,
.block-video_fon .block_descrip {
  position: relative;
  color: #ffffff;
}

.you-tube-button {
  position: relative;
  margin: 0 auto;
  width: 100px;
  height: 100px;
  text-align: center;
}

.you-tube-button a {
  @include trans;

  display: block;
  border-radius: 10em;
  width: 100px;
  height: 100px;
  font-size: 3em;
  line-height: 100px;
  text-align: center;
  color: #000000;
  background-color: #f1c40f;
}

.you-tube-button a:hover {
  color: #ffffff;
  background-color: darken(#f1c40f, 10%);
}

.block-darken {
  min-height: 128px;
}

/* начало блока портфолио */
.controls {
  display: flex;
  justify-content: space-between;
}

.filter_left,
.filter_right {
  list-style: none;
  margin: 10px 0 20px;
  padding: 0;
  text-align: center;
}

.filter_left li,
.filter_right li {
  display: inline-block;
  margin-left: 2px;
  border-left: 1px solid #000000;
}

.filter_left li a,
.filter_right li a {
  @include trans;

  display: block;
  padding: 1px 20px;
  font-size: 0.9em;
  text-decoration: none;
  color: #666666;
  cursor: pointer;
}

.filter_left li:first-child,
.filter_right li:first-child {
  border-left: 0;
}

.filter_left li a:hover,
.filter_right li a:hover {
  text-decoration: underline;
  color: $acsent-yellow-color;
}

.filter_left li a.active,
.filter_right li a.active {
  color: $acsent-yellow-color;
}

.mix {
  margin: 0;
  border: 0;
  padding: 0;
  width: 25%;
}

.project-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.project-cards .portfolio {
  display: none;
  overflow: hidden;
  margin: 0;
  width: 25%;
  box-sizing: border-box;
}

.portfolio-wrapper {
  position: relative;
  overflow: hidden;
  cursor: pointer;
}

.portfolio img {
  position: relative;
  top: 0;
  display: block;
  max-width: 100%;
  transition: all 0.6s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.portfolio .label {
  position: absolute;
  bottom: -50px;
  width: 100%;
  height: 50px;
  transition: all 0.6s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.portfolio .label-bg {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: $acsent-yellow-color;
}

.portfolio .label-text {
  position: relative;
  z-index: 500;
  padding: 5px 8px;
  color: #ffffff;
}

.portfolio .label-text a {
  font-size: 0.9em;
  color: #ffffff;
}

.portfolio .text-category {
  display: block;
  font-size: 0.8em;
  letter-spacing: 1px;
}

.portfolio:hover .label {
  bottom: 0;
}

.portfolio:hover img {
  top: 0;
  transform: scale(1.35, 1.35);
  transform-origin: 100% 0;
}

/* конец блока портфолио */

.inner-testimonial {
  text-align: center;
}

.adwice_picture {
  margin: 5px auto 15px;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  box-shadow: 0 0 0 3px #f2f2f2, 0 0 0 6px #f1c40f;
}

.adwice_picture img {
  border-radius: 50%;
  width: 100px;
  height: 100px;
}

h3.adwice_name {
  margin-bottom: 10px;
  padding-top: 5px;
  font-weight: 900;
  font-size: 1.2rem;
}

p.adwice_text {
  padding-bottom: 5px;
  font-weight: 300;
  font-size: 1.05rem;
  line-height: 1.1;
  text-align: left;
}

/* блок с анимированными цифрами  */
.abf_box {
  position: relative;
  display: flex;
  margin: 0;
  padding: 0;
}

.abf_box_items {
  width: 25%;
}

.animate-number-block-fon {
  min-height: 204px;
}

.animate-number-block-fon h2 {
  display: none;
}

.animate-number-block {
  width: 100%;
  color: #ffffff;
}

.animate-number-block_number {
  float: left;
  font-size: 3em;
  color: #f1c40f;
}

.animate-number-block_text {
  margin-left: 70px;
}

.animate-number-block_caunt {
  position: relative;
  display: inline-block;
  font-size: 3em;
  text-align: center;
  text-transform: uppercase;
}

.animate-number-block_caunt::before {
  content: "";
  position: absolute;
  bottom: 0;
  border: 2px solid #f1c40f;
  width: 100%;
}

.animate-number-block_descr {
  margin-top: 20px;
  font-size: 1.15em;
}

.price_boxing {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
}

.price_boxing_items {
  width: 23%;
}

/* оформление Блок с ценами  */
.price-block {
  border: 2px solid #f1c40f;
  padding: 17px 0;
  width: 100%;
}

.price-block-gray {
  padding: 10px 5px;
  text-align: center;
  color: #ffffff;
  background-color: #000000;
}

.price-block-gray_title,
.price-block-gray_price {
  font-family: "RobotoSlabBold", sans-serif;
  font-size: 1.825em;
  line-height: 1.5;
  text-align: center;
  text-transform: uppercase;
}

.price-block-gray_price {
  font-size: 1.25em;
}

.price-block-gray_descr {
  font-weight: 900;
  font-variant: small-caps;
  font-size: 0.95em;
}

.price-block-gray_border {
  margin: 10px 0 20px;
  border-bottom: 1px solid #f1c40f;
  width: 100%;
}

.price-block-gray_list {
  padding: 6px 0;
}

.price-block-gray_list ul {
  list-style-type: none;
  padding: 0 10px;
}

.price-block-gray_list ul li {
  position: relative;
  padding: 4px 0;
  padding-right: 20px;
  width: 100%;
  font-size: 0.8em;
  letter-spacing: 2px;
  text-transform: capitalize;
  color: #666666;
}

.price-block-gray_buttons {
  margin: 10px auto;
  width: 200px;
}

.price_mark {
  position: absolute;
  right: 0;
  bottom: 5px;
}

.price_mark .fa-check {
  color: #008000;
}

.price_mark .fa-times {
  color: #ff0000;
}

/* слайдер брендов */

.brand_box-img {
  border: 3px solid #f1c40f;
}

.brand_box-img img {
  display: block;
  width: 100%;
  height: auto;
}

.maine_page_box {
  display: flex;
  justify-content: flex-start;
  margin: 0;
  padding: 0;
}

/*   оформление блока блог */
.blog-block {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-right: 3.3%;
  padding: 0;
  width: 30%;
}

.blog-block:nth-child(3n+3) {
  margin-right: 0;
}

.blog-block-image img {
  width: 100%;
  height: auto;
}

.blog-block-title {
  margin: 20px 0 auto;
  font-family: "RobotoSlabBold", sans-serif;
  font-weight: 400;
  font-size: 1.15em;
  line-height: 1.5;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.blog-block-posted {
  font-weight: 400;
  font-size: 0.8em;
  color: #777777;
}

.blog-block-text {
  margin: 10px 0 20px;
  font-weight: 400;
  font-size: 0.9em;
}

.blog-block-buttons a {
  display: inline-block;
  border: 1px solid #000000;
  padding: 7px 12px;
  font-size: 0.8em;
  text-decoration: none;
  color: #000000;
  background-color: #f1c40f;
  transition: all 0.2s ease;
}

.blog-block-buttons a:hover {
  background-color: #ffffff;
}

.ymap-container {
  position: relative;
  overflow: hidden;
  margin: 0;
  background: url("../img/yandex-before-load.jpg") #f2f2f2 no-repeat;
  background-position: center center;
  background-size: cover;
  cursor: pointer;
}

#map-yandex {
  position: relative;
  z-index: 7;
  width: 100%;
  height: 30em;
  background-color: transparent;
  cursor: pointer;
}

/* Индикатор загрузки, который показывается до загрузки карты */
.loader {
  position: absolute;
  left: 0;
  top: -100%;
  z-index: 15;
  overflow: hidden;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  color: #000000;
  background-color: rgba(0, 0, 0, 0.55);
  opacity: 0;
  transition: opacity 0.7s ease;
}

.loader::after,
.loader::before {
  box-sizing: border-box;
}

.loader.is-active {
  top: 0;
  opacity: 1;
}

.loader-default::after {
  content: "";
  position: absolute;
  left: calc(50% - 24px);
  top: calc(50% - 24px);
  border: solid 8px #ffffff;
  border-left-color: transparent;
  border-radius: 50%;
  width: 48px;
  height: 48px;
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  from {
    transform: rotate(0);
  }

  to {
    transform: rotate(359deg);
  }
}

@keyframes blink {
  from {
    opacity: 0.5;
  }

  to {
    opacity: 1;
  }
}

@keyframes blink {
  from {
    opacity: 0.5;
  }

  to {
    opacity: 1;
  }
}

/* конец оформления яндекс карты */
/* получение информации */
.get-info {
  background-color: #222222;
}

.get-info_row {
  display: flex;
}

.get-info_left {
  width: 34%;
}

.get-info_right {
  width: 66%;
}

.block-get-info {
  padding: 10px;
  width: 100%;
  color: #ffffff;
}

.block-get-info-icon {
  float: left;
  font-size: 1.6em;
  color: #f1c40f;
}

.block-get-info-text {
  margin-left: 2.4em;
}

.block-get-info-text_title {
  position: relative;
  margin-bottom: 15px;
  font-weight: 400;
  font-size: 1.125em;
  color: #ffffff;
}

.block-get-info-text_title::before {
  content: "";
  position: absolute;
  bottom: -8px;
  border-bottom: 2px solid #f1c40f;
  width: 50px;
}

.block-get-info-text_adress {
  font-size: 0.805em;
}

/* стили кнопки наверх */
.button-top {
  position: fixed;
  right: -120px;
  bottom: 20px;
  z-index: 3;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  text-align: center;
  background-color: #5eb6b6;
  opacity: 0.3;
  transition: all 0.5s ease 0.1s;
  cursor: pointer;
}

.button-top .fa {
  margin-top: 6px;
  font-size: 2em;
  color: #ffffff;
}

.button-top:hover {
  opacity: 1;
}

.button-top.active {
  right: 30px;
}

/* оформление футера  */
.footer-border-top {
  border-top: 1px solid #ffffff;
  padding-top: 20px;
  padding-bottom: 10px;
  text-align: center;
}

footer {
  color: #737373;
  background-color: #222222;
}

.footer-border-top .top_line_social ul li a {
  margin-right: 5px;
  color: #222222;
  background-color: $color_blues;
}

.footer-border-top .top_line_social ul li a:last-child {
  margin-right: 0;
}

.footer-border-top .top_line_social ul li a:hover {
  color: #222222;
  background-color: #ffffff;
}

footer p {
  font-weight: 400;
  line-height: 1.24em;
  text-align: center;
  color: #444444;
}

.copyright_line {
  position: relative;
  margin: 10px;
}

.copyright_line a {
  color: #737373;
  transition: all 0.5s ease 0.1s;
}

.copyright_line a:hover {
  text-decoration: underline;
}

.acc-container {
  overflow: hidden;
  margin: 0 auto;
  border: 2px solid #f1c40f;
  width: 90%;
}

.acc-btn {
  margin: 0 auto;
  border-bottom: 1px solid #f1c40f;
  padding: 10px 25px;
  width: 100%;
  color: #000000;
  background: #f1c40f;
  cursor: pointer;
}

.acc-content {
  overflow: hidden;
  margin: 0 auto;
  width: 100%;
  height: 0;
  background: #f2f2f2;
}

.acc-content-inner {
  padding: 30px;
}

.acc-content-inner a {
  display: block;
  margin-top: 10px;
  color: #798795;
  transition: all 0.5s ease 0.1s;
}

.acc-content-inner a:hover {
  text-decoration: underline;
}

.open {
  height: auto;
}

.acc-btn h1 {
  font-size: 1.5rem;
  color: #000000;
}

.acc-content-inner p {
  color: #798795;
}

.acc-btn.selected {
  color: #ffffff;
  background-color: #f1c40f;
}
