@import '_var.scss';

/* оформление содержимого шаблона, которое находится под
header */
.block {padding: 40px 0; position: relative; }
.block_mini {padding: 40px 0; position: relative; }

.block_map {padding: 40px 0 0 0; position: relative; }

.block_top {padding-top: 40px;
  position: relative; }


  .block_grey {
    background-color: #f2f2f2;}

    h2.block_title {
     @include font-size(25px);

     font-family: "RobotoSlabBold", sans-serif;
     text-transform: uppercase;
     letter-spacing: 2px;
     position: relative;
     margin: 0 auto 20px auto;
     text-align: center;

   }
   h2.block_title:before {
     top:110%;
     left: 50%;
     margin-left:-50px;
     width: 100px;
     content: '';
     position: absolute;
     height: 6px;
     background-color:  #f1c40f;
   }

   h2.block_title:after {
     top:115%;
     left: 50%;
     margin-left:-100px;
     width: 200px;
     content: '';
     position: absolute;
     height: 2px;
     background-color:  #f1c40f;
   }

   .block_descrip {
     @include font-size(16px);
     text-align: center;
     margin:0 10% 3.3% 10%;
   }

   .creat_block {
     padding: 0;
     margin: 0;
   }
   .creat_block_items {
     width: 49%;
     margin-right: 2%;
     float:left;
   }
   .creat_block_items:last-child {
    margin-right: 0;
  }

  .creat-block-img {
   padding: 0;
   margin: 0;
 }

 .creat-block-img img {
  width: 100%;
  height: auto;
}

.creat-block-title {
  font-size: 1.2em;
  text-transform: uppercase;
  margin-bottom: 35px;
}

.creat-block-title span {
  color: #f1c40f;
}

.creat-block-text {
  margin-bottom: 20px;
  font-size: .9em;
}
/* оформление блока наши предложения  */

.our_pred_block {
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}
.our_pred_block_items {
  width: 30%;
  margin-right: 3.3%;
  margin-bottom: 3.3%;
}
.our_pred_block_items:nth-child(3n+3) {
  margin-right: 0;
}

.our_pred_icon {
  color: #f1c40f;
  font-size: 2rem;
  float: left;
  width: 15%;
}
.our_pred_text {
  width: 85%;
  float: left;
}

.our_pred_text_title {
  padding-top: 4px;
  font-size: 1.125em;
  font-family: "RobotoSlabBold", sans-serif;
  text-transform: uppercase;
  letter-spacing: 2px;
  position: relative;
  margin-bottom: 20px;
}
.our_pred_text_title:before {
  content: "";
  position: absolute;
  border: 1px solid #f1c40f;
  bottom: -10px;
  left: 0;
  width: 100px;
}
.our_pred_text_desc {
  font-size: 0.9rem;
  margin-bottom: 10px;
}
.block_mini_box {
  position: relative;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-between;
}
.block_mini_box_left {
  width: 60%;
}

.block_mini_box_right {
  width: 40%;
  text-align: center;
}

.block_mini_link {
  display: inline-block;
  background-color: #f1c40f;
  color: #000;
  padding: 15px 25px;
  font-size: 0.875em;
  @include trans;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 300;
}

.block_mini_link:hover {
  background-color: #fff;
}
.block_mini_text {
  color: #fff;
  font-size: 2.18rem;
  letter-spacing: 2px;
}
/*
формление слайдера команды */

.box-img-kommand-wrap {
  cursor: pointer;
  border-left: 1px solid #f5f5f7;
  border-right: 1px solid #f5f5f7;
  border-bottom: 2px solid #f1c40f;
  padding-bottom: 10px;
}
.box-img-kommand {
	padding: 0;
	margin: 0;
	overflow: hidden;
}
.box-img-kommand img {
  width: 100%;
  height: auto;
  border-radius: 0;
  overflow: hidden;
}

.box-img-kommand-wrap:hover .box-img-kommand img {
 transform: scale(1.35, 1.35);
 transition: all 0.5s ease 0.1s;
 transform-origin: 30% 0;
}
h3.command_name {
  padding-top: 5px;
  font-size: 1.20rem;
  font-weight: 900;
  margin-bottom: 0;
}

h4.command_prof {
  font-size: 1.0rem;
  font-weight: 400;
  padding: 0;
  margin: 0;
}

.owl-theme .owl-nav {
  margin-top: 0;
}

/*Изменяем внешний вид элементов управления (точки) */
.owl-theme .owl-dots .owl-dot span {
  width: 26px;
  border-radius: 0;
  height: 5px;
  border: 1px solid #f1c40f;
  background-color: transparent;
}

.owl-theme .owl-dots .owl-dot.active span,
.owl-theme .owl-dots .owl-dot:hover span {
  background-color: #f1c40f;
}

/*  блок почему выбирают нас */
.why_choice_items {
	width: 50%;
}

.why_choice_items img {
  display: inline-block;
  width: 100%;
  height: auto;

}

/*   оформить блока ничего лучше чем видео презентация */

.block-video_fon {
  background: #000 url(../images/video-bg.jpg) top center no-repeat fixed;
  min-height: 350px;
  background-size: cover;
  position: relative;
}
.block-video_fon:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
}
.block-video_fon .block_title,
.block-video_fon .block_descrip {
  color: #fff;
  position: relative;
}
.you-tube-button {
  margin: 0 auto;
  width: 100px;
  height: 100px;
  text-align: center;
  position: relative;
}

.you-tube-button a {
  display: block;
  width: 100px;
  height: 100px;
  text-align: center;
  line-height: 100px;
  font-size: 3em;
  border-radius: 10em;
  background-color: #f1c40f;
  color: #000;
  @include trans;
}

.you-tube-button a:hover {
  background-color: darken( #f1c40f, 10%);
  color: #fff;
}

.block-darken {
  min-height: 128px;
}

/* начало блока портфолио */
#filters {
	margin:10px 0 20px;
	text-align: center;
	padding:0;
	list-style:none;
}

#filters li {
  float:left;
  margin-left: 2px;
  border-left: 1px solid #000;
}

#filters li span {
  display: block;
  padding:1px 20px;
  text-decoration:none;
  color:#666;
  font-size: 0.9em;
  cursor: pointer;
}
#filters li:first-child {
  border-left: 0;
}
#filters li span:hover {
  color:$acsent-yellow-color;
  text-decoration: underline;
}

#filters li span.active {
  color:$acsent-yellow-color;
}

#portfoliolist .portfolio {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-o-box-sizing: border-box;
	width:25%;
	margin:0;
	display:none;
	float:left;
	overflow:hidden;
}

.portfolio-wrapper {
  overflow:hidden;
  position: relative !important;
  cursor:pointer;
}

.portfolio img {
  display: block;
  max-width:100%;
  position: relative;
  top:0;
  transition:         all .600s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.portfolio .label {
  position: absolute;
  width: 100%;
  height:50px;
  bottom:-50px;
  transition:         all .600s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.portfolio .label-bg {
 background: $acsent-yellow-color;
 width: 100%;
 height:100%;
 position: absolute;
 top:0;
 left:0;
}

.portfolio .label-text {
 color:#fff;
 position: relative;
 z-index:500;
 padding:5px 8px;
}
.portfolio .label-text a {
 color:#fff;font-size:0.9em;
}
.portfolio .text-category {
  display:block;
  font-size:0.8em;
  letter-spacing: 1px;
}

.portfolio:hover .label {
  bottom:0;
}
.portfolio:hover img {
  top:0;
  transform: scale(1.35, 1.35);
  transform-origin: 100% 0;
}
/* конец блока портфолио */

.inner-testimonial {
  text-align: center;
}
.adwice_picture {
  width: 100px;
  height: 100px;
  margin: 5px auto 15px;
  border-radius: 50%;
  box-shadow: 0px 0px 0px 3px #f2f2f2, 0px 0px 0px 6px #f1c40f;
}
.adwice_picture img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}
h3.adwice_name {
  padding-top: 5px;
  font-size: 1.20rem;
  font-weight: 900;
  margin-bottom: 10px;
}

p.adwice_text {
  padding-bottom: 5px;
  font-size: 1.05rem;
  font-weight: 300;
  line-height: 1.1;
  text-align: left;
}
/* блок с анимированными цифрами  */
.abf_box  {
  padding: 0;
  margin: 0;
  position: relative;
  display: flex;
}
.abf_box_items {
  width: 25%;
}
.animate-number-block-fon {
 min-height: 204px;
}

.animate-number-block {
  width: 100%;
  color: #fff;
}

.animate-number-block_number {
  float: left;
  color: #f1c40f;
  font-size: 3em;
}

.animate-number-block_text {
  margin-left: 70px;
}

.animate-number-block_caunt {
  font-size: 3em;
  display: inline-block;
  text-transform: uppercase;
  text-align: center;
  position: relative;
}

.animate-number-block_caunt:before {
  position: absolute;
  content: "";
  bottom: 0;
  width: 100%;
  border: 2px solid #f1c40f;
}

.animate-number-block_descr {
  margin-top: 20px;
  font-size: 1.15em;
}

.price_boxing {
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-between;
}
.price_boxing_items {
  width: 23%;
}

/* оформление Блок с ценами  */
.price-block {
  width: 100%;
  border: 2px solid #f1c40f;
  padding: 17px 0;
}

.price-block-gray {
  background-color: #000;
  padding: 10px 5px;
  color: #fff;
  text-align: center;
}

.price-block-gray_title, .price-block-gray_price {
  font-size: 1.825em;
  text-align: center;
  line-height: 1.5;
  text-transform: uppercase;
  font-family: "RobotoSlabBold", sans-serif;
}

.price-block-gray_price {
  font-size: 1.25em;
}

.price-block-gray_descr {
  font-size: .95em;
  font-weight: 900;
  font-variant: small-caps;
}

.price-block-gray_border {
  width: 100%;
  border-bottom: 1px solid #f1c40f;
  margin: 10px 0 20px 0;
}

.price-block-gray_list {
  padding: 6px 0;
}

.price-block-gray_list ul {
  list-style-type: none;
  padding: 0 10px;
}

.price-block-gray_list ul li {
  font-size: .8em;
  text-transform: capitalize;
  padding: 4px 0;
  color: #666;
  letter-spacing: 2px;
  position: relative;
  width: 100%;
}

.price-block-gray_buttons {
  width: 200px;
  margin: 10px auto;
}

.price_mark {
  position: absolute;
  right: 0;
  bottom: 5px;
}

.price_mark .fa-check {
  color: green;

}
.price_mark .fa-times {
  color: red;
}

/* слайдер брендов */
.inner-testimonial {
  text-align: center;
}

.brand_box-img {
  border: 3px solid #f1c40f;
}

.brand_box-img img {
  display: block;
  width: 100%;
  height: auto;
}

.maine_page_box {
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: flex-start;
}

/*   оформление блока блог */
.blog-block {
  width: 30%;
  margin-right: 3.3%;
  padding: 0;
}

.blog-block:nth-child(3n+3) {
 margin-right: 0;
}

.blog-block-image img {
  width: 100%;
  height: auto;
}

.blog-block-title {
  font-family: "RobotoSlabBold", sans-serif;
  font-size: 1.15em;
  letter-spacing: 2px;
  line-height: 1.5;
  text-transform: uppercase;
  margin: 20px 0;
  font-weight: 400;
}

.blog-block-posted {
  font-size: .8em;
  color: #777;
  font-weight: 400;
}

.blog-block-text {
  font-size: .9em;
  margin: 10px 0 20px;
  font-weight: 400;
}

.blog-block-buttons a {
  display: inline-block;
  font-size: .8em;
  border: 1px solid #000;
  background-color: #f1c40f;
  padding: 7px 12px;
  color: #000;
  text-decoration: none;
  transition: all 0.2s ease;
}

.blog-block-buttons a:hover {
  background-color:#ffffff;

}

.ymap-container {
  position: relative;
  margin: 0;
  overflow: hidden;
  cursor: pointer;
  background: url("../images/yandex-before-load.png") #ffffff no-repeat;
  background-position: center center;
  background-size: cover;
}

#map-yandex {
  position: relative;
  z-index: 7;
  width: 100%;
  height: 30em;
  cursor: pointer;
  background-color: transparent;
}

/*Индикатор загрузки, который показывается до загрузки карты*/
.loader {
  position: absolute;
  z-index: 15;
  top: -100%;
  left: 0;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  overflow: hidden;
  color: #000000;
  transition: opacity .7s ease;
  opacity: 0;
  background-color: rgba(0, 0, 0, 0.55);
}

.loader:after, .loader:before { box-sizing: border-box;}

.loader.is-active {top: 0;opacity: 1;}

.loader-default:after {
  position: absolute;
  top: calc(50% - 24px);
  left: calc(50% - 24px);
  width: 48px;
  height: 48px;
  content: '';
  animation: rotation 1s linear infinite;
  border: solid 8px #ffffff;
  border-left-color: transparent;
  border-radius: 50%;
}

@-webkit-keyframes rotation {
  from {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
  to {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}

@keyframes rotation {
  from {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
  to {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}

@-webkit-keyframes blink {
  from {
    opacity: .5;
  }
  to {
    opacity: 1;
  }
}

@keyframes blink {
  from {
    opacity: .5;
  }
  to {
    opacity: 1;
  }
}

/* конец оформления яндекс карты*/
/* получение информации */
.get-info {
  background-color: #222;
}

.get-info_row {

  display: flex;
}

.get-info_left {
  width: 34%;
}

.get-info_right {
  width: 66%;
}

.block-get-info {
  width: 100%;
  padding: 10px;
  color: #fff;
}

.block-get-info-icon {
  float: left;
  color: #f1c40f;
  font-size: 1.6em;
}

.block-get-info-text {
  margin-left: 2.40em;
}

.block-get-info-text_title {
  font-size: 1.125em;
  position: relative;
  color: #fff;
  margin-bottom: 15px;
}

.block-get-info-text_title:before {
  content: "";
  position: absolute;
  bottom: -8px;
  width: 50px;
  border-bottom: 2px solid #f1c40f;
}

.block-get-info-text_adress {
  font-size: .805em;
}

/*стили кнопки наверх*/
.button-top {
  position: fixed;
  bottom: 20px;
  right: -120px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #5eb6b6;
  cursor: pointer;
  text-align: center;
  opacity: .3;
  z-index: 3;
  transition: all 0.5s ease 0.1s;
}

.button-top .fa {
  color: #fff;
  font-size: 2em;
  margin-top: 6px;
}

.button-top:hover {
  opacity: 1;
}

.button-top.active {
  right: 30px;
}

/* оформление футера  */
.footer-border-top {
  border-top: 1px solid #fff;
  padding-top: 10px;
  text-align: center;
}

footer {
  background-color: #222;
  color: #737373;
}

.footer-border-top .top_line_social ul li a {
  background-color: #f1c40f;
  color:  #222222;
}

.footer-border-top .top_line_social ul li a:hover {
  background-color: #fff;
  color:  #222222;
}

footer p {
  line-height: 1.24em;
  font-weight: 400;
  color: #444;
  text-align: center;
}

.copyright_line {
  position: relative;
  margin: 10px;
}

.copyright_line a {
 color: #737373;
 transition: all 0.5s ease 0.1s;
}

.copyright_line a:hover {
  text-decoration: underline;
}

.acc-container {
  width:90%;
  margin:0 auto;
  overflow:hidden;
  border: 2px solid #f1c40f;
}

.acc-btn {
  width:100%;
  margin:0 auto;
  padding:10px 25px;
  cursor:pointer;
  background: #f1c40f;
  color: #000;
  border-bottom: 1px solid #f1c40f;
}

.acc-content {
  height:0px;
  width:100%;
  margin:0 auto;
  overflow:hidden;
  background:#f2f2f2;
}

.acc-content-inner {
  padding:30px;
}

.acc-content-inner a {
  display: block;
 color:#798795;
margin-top: 10px;
 transition: all 0.5s ease 0.1s;
}
.acc-content-inner a:hover {
text-decoration: underline;
}
.open {
  height: auto;
}
.acc-btn h1 {
  color: #000;
    font-size: 1.5rem;
}
.acc-content-inner p {
  color:#798795;
}
.acc-btn.selected {
  color:red;
  background-color: #f1c40f;
}

.acc-btn h1.selectev {
  color:#ffffff;

}