@import "_var.scss";

.header_fon {
  position: relative;
  min-height: 775px;
  background: #000000 url("../img/header-pic.jpg") center center no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.header_fon::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to right, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 85%);
}

.top_line,
.top_line_box {
  height: 70px;
}

.top_line {
  position: fixed;
  z-index: 100;
  width: 100%;
  box-shadow: 1px 1px 1px #95989a;
  background-color: #ffffff;
}

.top_line_box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0;
  margin-top: 5px;
  margin-bottom: 5px;
  padding: 0;
}

.top_line_logo {
  margin: 0;
  padding: 0;
}

.top_line_logo img {
  display: inline-block;
  width: 100%;
  height: auto;
}

/* верстаю социальные кнопки в топ-лайне */
.top_line_social {
  margin: 0;
  padding: 0;
}

.top_line_social ul li {
  display: inline-block;
}

.top_line_social ul li a {
  @include trans;

  display: inline-block;
  margin: 0;
  border-radius: 10em;
  width: 30px;
  height: 30px;
  font-size: 0.8em;
  line-height: 30px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  color: #ffffff;
  background-color: $second-color-fon;
}

.top_line_social li a:hover {
  color: #000000;
  background-color: $acsent-yellow-color;
}

/* оформление содержимого над самой нартикой ниже top line */
.title-header {
  position: relative;
  padding: 20% 0;
  width: 60%;
  color: #000000;
}

.title-header-li {
  padding: 0;
}

.title-header-li ul {
  margin-left: 0;
  padding-left: 0;
}

.title-header-li ul li {
  display: inline-block;
  list-style-type: none;
  border-left: 1px solid $acsent-yellow-color;
  padding: 0 10px;
  font-size: 1.125em;
}

.title-header-li ul li:first-child {
  border: 0;
}

.title-header h1 {
  margin-bottom: 0;
  font-family: "RobotoSlabBold", sans-serif;
  font-size: 2.18em;
  line-height: 1.8;
  text-transform: uppercase;
}

.title-header h1 span {
  color: $acsent-yellow-color;
}

.title-header h3 {
  font-family: "RalewayBold", sans-serif;
  font-weight: 300;
  font-size: 0.91em;
  line-height: 1.5;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #000000;
}

.calling-me {
  margin-top: 40px;
  margin-left: 0;
  padding-left: 0;
  text-align: left;
}

.calling-me a {
  @include trans;

  display: inline-block;
  border: 2px solid #000000;
  padding: 10px 40px;
  font-weight: 300;
  font-size: 1em;
  letter-spacing: 0.2em;
  text-decoration: none;
  text-transform: uppercase;
  color: #000000;
  background-color: transparent;
}

.calling-me a:hover {
  border: 2px solid $acsent-yellow-color;
  background-color: $acsent-yellow-color;
}

.hidden {
  display: none;
}

/* оформление главного меню сайта   */

// .top_line_menu ul li a.mPS2id-highlight,
.menu_hightlight ul li a.mPS2id-highlight,
.top_line_menu ul li a:hover {
  position: relative;
  color: #f1c40f;
}

#cssmenu {
  margin: 0;
  border: 0;
  padding: 0;
}

#cssmenu ul,
#cssmenu li {
  list-style: none;
  margin: 0;
  padding: 0;
}

#cssmenu ul {
  position: relative;
  z-index: 597;
  text-transform: uppercase;
}

#cssmenu ul li {
  display: inline-block;
  vertical-align: middle;
  min-height: 1px;
}

#cssmenu ul li.hover,
#cssmenu ul li:hover {
  position: relative;
  z-index: 599;
  cursor: default;
}

#cssmenu ul ul {
  position: absolute;
  left: 0;
  top: 100%;
  bottom: 0;
  z-index: 598;
  margin-top: 0;
  min-width: 190px;
  text-transform: none;
  visibility: hidden;
}

#cssmenu ul ul li {
  position: relative;
  display: block;
  float: none;
  font-weight: 400;
}

#cssmenu ul ul ul {
  left: auto;
  right: -99.5%;
  top: 0;
  border-top: 0 none;
}

#cssmenu ul li:hover >ul {
  visibility: visible;
}

#cssmenu a {
  display: block;
  line-height: 1em;
  text-decoration: none;
}

#cssmenu >ul {
  display: inline-block;
}

#cssmenu ul li a {
  padding: 0 20px;
  font-family: "RobotoSlabBold", sans-serif;
  font-size: 0.8rem;
  line-height: 1.2;
  text-align: center;
  color: #000000;
  transition: 0.2s;
}

#cssmenu ul li a:hover {
  color: #f1c40f;
}

#cssmenu ul ul a {
  border: 1px solid #f1c40f;
  border-top: 0 none;
  padding: 16px 20px;
  text-align: left;
  color: #000000;
  background: #ffffff;
}

#cssmenu >ul >li >a {
  line-height: 48px;
}

#cssmenu ul ul li:first-child >a {
  border-top: 1px solid #f1c40f;
}

#cssmenu ul ul li:hover >a {
  // background: #35a6ff;
}

#cssmenu ul ul li:last-child >a {
  border-radius: 0 0 3px 3px;
  box-shadow: 0 1px 0 #f1c40f;
}

#cssmenu ul ul li:last-child:hover >a {
  border-radius: 0 0 0 3px;
}

#cssmenu ul ul li.menu-item-has-children >a::after {
  content: "+";
  position: absolute;
  right: 15px;
  top: 50%;
  margin-top: -8px;
}

#cssmenu ul li:hover >a,
#cssmenu ul li.active >a {
  // background: #1b9bff;
  color: #f1c40f;
}

#cssmenu ul li.menu-item-has-children >a::after {
  content: "+";
  margin-left: 5px;
}

#cssmenu ul li.last ul {
  left: auto;
  right: 0;
}

#cssmenu ul li.last ul ul {
  left: auto;
  right: 99.5%;
}

/*  оформление мобильной версии меню и гамбургера */
.burger {
  margin: 0;
  margin-top: 110vh;
}

.burger_button {
  position: relative;
  z-index: 10;
  display: none;
  border-radius: 50%;
  padding: 0;
  width: 65px;
  height: 65px;
  line-height: 65px;
  background-color: #2a2a2a;
  transition: all 0.5s ease;
}

.burger_lines::before,
.burger_lines::after,
.burger_lines {
  position: absolute;
  width: 40px;
  height: 3px;
  background-color: #ffffff;
}

.burger_lines {
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
}

.burger_lines::before,
.burger_lines::after {
  content: "";
}

.burger_lines::before {
  left: 0;
  top: 12px;
}

.burger_lines::after {
  left: 0;
  top: -12px;
}

.burger_button:hover .burger_lines {
  filter: brightness(0.7);
}

.burger_button_active .burger_lines {
  background-color: transparent;
}

.burger_button_active .burger_lines::before {
  top: 0;
  transform: rotate(45deg);
}

.burger_button_active .burger_lines::after {
  top: 0;
  transform: rotate(-45deg);
}

.burger_nav {
  position: fixed;
  right: -100%;
  z-index: 20;
  display: flex;
  flex-flow: column;
  overflow-y: auto;
  padding-top: 110px;
  height: 100%;
  min-width: 200px;
  text-align: left;
  background-color: #2a2a2a;
  transition: all 0.5s ease;
}

.burger_active {
  right: 0;
}

.burger_nav ul li {
  margin-bottom: 10px;
}

.burger_nav ul li a {
  padding: 5px 30px;
  font-family: "RobotoSlabBold", sans-serif;
  font-weight: 400;
  font-size: 1.1rem;
  line-height: 1.2;
  text-decoration: none;
  color: #ffffff;
  transition: all 0.2s ease;
  cursor: pointer;
}

.burger_nav ul li a:hover {
  color: #f1c40f;
}

.burger_nav ul li ul {
  padding-top: 5px;
  padding-left: 10px;
}

.burger_nav ul li ul li {
  margin-bottom: 0;
}

.burger_nav ul li ul li a {
  font-weight: 400;
  font-size: 1rem;
}

.body_hidden {
  overflow: hidden;
}

.burger_overlay {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 1;
  display: none;
  width: 100vw;
  height: 100vh;

  /* IE9, iOS 3.2+ */
  background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIHZpZXdCb3g9IjAgMCAxIDEiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPjxsaW5lYXJHcmFkaWVudCBpZD0idnNnZyIgZ3JhZGllbnRVbml0cz0idXNlclNwYWNlT25Vc2UiIHgxPSIwJSIgeTE9IjAlIiB4Mj0iMTAwJSIgeTI9IjAlIj48c3RvcCBzdG9wLWNvbG9yPSIjMmEyYTJhIiBzdG9wLW9wYWNpdHk9IjEiIG9mZnNldD0iMCIvPjxzdG9wIHN0b3AtY29sb3I9IiNhYWFhYWEiIHN0b3Atb3BhY2l0eT0iMSIgb2Zmc2V0PSIxIi8+PC9saW5lYXJHcmFkaWVudD48cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI3ZzZ2cpIiAvPjwvc3ZnPg==);
  background-image: -webkit-gradient(linear, 0% 0%, 100% 0%, color-stop(0, rgb(42, 42, 42)), color-stop(1, rgb(170, 170, 170)));

  /* Android 2.3 */
  background-image: repeating-linear-gradient(left, rgb(42, 42, 42) 0%, rgb(170, 170, 170) 100%);

  /* IE10+ */
  background-image: repeating-linear-gradient(to right, rgb(42, 42, 42) 0%, rgb(170, 170, 170) 100%);
  background-image: repeating-linear-gradient(left, rgb(42, 42, 42) 0%, rgb(170, 170, 170) 100%);
  background-color: #6a6a6a;
  opacity: 0.7;
  filter: brightness(0.7);
  transition: display 0.4s ease;
}

.burger_overlay_active {
  display: block;
}

// /* IE8- CSS hack */
// @media \0screen\,screen\9 {
//   .burger_overlay {
//     filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ff2a2a2a", endColorstr="#ffaaaaaa", GradientType=1);
//   }
